<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <title>web-shell</title>
    <link href=/static/css/app.7e873cd9449a4c469715469ddd76d0e8.css rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/manifest.2ae2e69a05c33dfc65f8.js></script>
<script type=text/javascript src=/static/js/vendor.c6cc049bb8b25e6f5c62.js></script>
<script type=text/javascript src=/static/js/app.b1c29738648b67334ec2.js></script>
</body>
</html>